.light-theme {
    background-color: #fdfdfd;
    color: #222;
}

.dark-theme {
    background-color: #121212;
    color: #eee;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: flex;
    max-width: fit-content;
    justify-content: center;
    align-items: center;
    height: 100vh;
}