.light-theme {
    background-color: #fdfdfd;
    color: #222;
}

.dark-theme {
    background-color: #121212;
    color: #eee;
}

body {
    margin: 0;
    font-family: sans-serif;
    transition: background-color 0.3s, color 0.3s;
}